/* Background */
.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCF5EE;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card */
.home-card {
  background: white;
  padding: 60px 50px;
  border-radius: 20px;
  text-align: center;
  width: 450px;
  box-shadow: 0 20px 50px rgba(133, 14, 53, 0.15);
  border: 2px solid #FFC4C4;
  transition: 0.3s ease;
}

.home-card:hover {
  transform: translateY(-5px);
}

/* Title */
.home-card h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #850E35;
  font-weight: 700;
}

/* Subtitle */
.subtitle {
  font-size: 14px;
  color: #850E35;
  opacity: 0.7;
  margin-bottom: 35px;
}

/* Button Group */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Base Button */
.btn {
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Register Button */
.register-btn {
  background-color: #EE6983;
  color: white;
}

.register-btn:hover {
  background-color: #850E35;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(133, 14, 53, 0.3);
}

/* Login Button */
.login-btn {
  background-color: #FFC4C4;
  color: #850E35;
}

.login-btn:hover {
  background-color: #EE6983;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(238, 105, 131, 0.3);
}